@import 'sass-bootstrap/lib/bootstrap';
@import 'sass-bootstrap/lib/responsive';


/* Sticky footer styles
-------------------------------------------------- */

html,
body {
  //height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */


.container .credit {
  margin: 20px 0;
}

code {
  font-size: 80%;
}


.modelSearch {
  text-transform: uppercase;
}

.viewport {
  padding-bottom: 50px;
}

.brrr {
  margin-bottom: 40px;
}

#footer .navbar {
  border-top: 1px solid #ccc;
  background-color:white;
}

.modelResults {
  display:none;
  max-height:200px;
  overflow-y: auto;
}