<dl class="dl-horizontal">
    <dt>Unit Type</dt>
    <dd>Mech
    <%if (isQuad) { %>
        <span class="label label-success">Quad</span>
        <% }
        if (isOmni) { %>
        <span class="label label-warning">Omni</span>
        <% } %>
    </dd>
    <dt>Chassis</dt>
    <dd><%= chassis %></dd>
    <dt>Model</dt>
    <dd><%= model %></dd>
    <dt>TRO</dt>
    <dd><%= set %></dd>
    <dt>Year</dt>
    <dd><%= year %></dd>

    <dt>Weight Class</dt>
    <dd><%= weightClass %></dd>
    <dt>Weight</dt>
    <dd><%= weight %></dd>

    <dt>BV</dt>
    <dd><%= bv %></dd>

    <dt>Movement</dt>
    <dd><%= movement.w %>/<%= movement.rs %>
        <% if (movement.j > 0) $>
        /<%= movement.j %>
        <% } %>
    </dd>

    <dt>Heat Capacity</dt>
    <dd><%= heatCapacity %></dd>

    <dt>Armor Type</dt>
    <dd><%= armorType %></dd>
    <dt>Total Armor</dt>
    <dd><%= totalExternalArmor %></dd>
    <dt>Internal Structure</dt>
    <dd><%= structureType %></dd>
    <dt>Total Internal</dt>
    <dd><%= totalInternalArmor %></dd>
    <dt>Engine</dt>
    <dd><%= engine %></dd>

    <dt>Cockpit</dt>
    <dd><%= cockpit %></dd>
    <dt>Gyro</dt>
    <dd><%= gyro %></dd>

</dl>