<h2><%= chasis %> <%= model %></h2>

<dl class="dl-horizontal">
    <dt>Year</dt>
    <dd><%= year %></dd>
    <dt>Weight Class</dt>
    <dd><%= weightClass %></dd>
    <dt>Weight</dt>
    <dd><%= weight %></dd>

    <dt>BV</dt>
    <dd><%= bv %></dd>

    <dt>Armor</dt>
    <dd><%= armor %></dd>

    <dt>Heat Capacity</dt>
    <dd><%= heat %></dd>

</dl>

<table class="table">
    <thead>
    <tr>
        <th>Head</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>
            <ul class="unstyled">
                <li><strong class="text-info">External: </strong><%= equipment.HD.armor.external %></li>
                <li><strong class="text-error">Internal: </strong><%= equipment.HD.armor.internal %></li>
                <li>
                    <strong class="text-error">Crits</strong>
                    <ul class="unstyled">
                        <% _.each(equipment.HD.equipment.criticals, function(crit) { %>
                        <li><%= crit %></li>
                        <% }); %>
                    </ul>
                </li>
                <li>
                    <strong class="text-info">EQ</strong>
                    <ul class="unstyled">
                        <% _.each(equipment.HD.equipment.nonCriticals, function(eq) { %>
                        <li><%= eq %></li>
                        <% }); %>
                    </ul>
                </li>
            </ul>
        </td>
    </tr>
    </tbody>
</table>

<table class="table">
    <thead>
    <tr>
        <th>Left Arm</th>
        <th>Left Torso</th>
        <th>Center Torso</th>
        <th>Right Torso</th>
        <th>Right Arm</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>
            <ul class="unstyled">
                <li><strong class="text-info">External: </strong><%= equipment.LA.armor.external %></li>
                <li><strong class="text-error">Internal: </strong><%= equipment.LA.armor.internal %></li>
                <li>
                    <strong class="text-error">Crits</strong>
                    <ul class="unstyled">
                        <% _.each(equipment.LA.equipment.criticals, function(crit) { %>
                        <li><%= crit %></li>
                        <% }); %>
                    </ul>
                </li>
                <li>
                    <strong class="text-info">EQ</strong>
                    <ul class="unstyled">
                        <% _.each(equipment.LA.equipment.nonCriticals, function(eq) { %>
                        <li><%= eq %></li>
                        <% }); %>
                    </ul>
                </li>
            </ul>
        </td>
        <td>
            <ul class="unstyled">
                <li><strong class="text-info">External: </strong><%= equipment.LT.armor.external %></li>
                <li><strong class="text-error">Internal: </strong><%= equipment.LT.armor.internal %></li>
                <li>
                    <strong class="text-error">Crits</strong>
                    <ul class="unstyled">
                        <% _.each(equipment.LT.equipment.criticals, function(crit) { %>
                        <li><%= crit %></li>
                        <% }); %>
                    </ul>
                </li>
                <li>
                    <strong class="text-info">EQ</strong>
                    <ul class="unstyled">
                        <% _.each(equipment.LT.equipment.nonCriticals, function(eq) { %>
                        <li><%= eq %></li>
                        <% }); %>
                    </ul>
                </li>
            </ul>
        </td>
        <td>
            <ul class="unstyled">
                <li><strong class="text-info">External: </strong><%= equipment.CT.armor.external %></li>
                <li><strong class="text-error">Internal: </strong><%= equipment.CT.armor.internal %></li>
                <li>
                    <strong class="text-error">Crits</strong>
                    <ul class="unstyled">
                        <% _.each(equipment.CT.equipment.criticals, function(crit) { %>
                        <li><%= crit %></li>
                        <% }); %>
                    </ul>
                </li>
                <li>
                    <strong class="text-info">EQ</strong>
                    <ul class="unstyled">
                        <% _.each(equipment.CT.equipment.nonCriticals, function(eq) { %>
                        <li><%= eq %></li>
                        <% }); %>
                    </ul>
                </li>
            </ul>
        </td>
        <td>
            <ul class="unstyled">
                <li><strong class="text-info">External: </strong><%= equipment.RT.armor.external %></li>
                <li><strong class="text-error">Internal: </strong><%= equipment.RT.armor.internal %></li>
                <li>
                    <strong class="text-error">Crits</strong>
                    <ul class="unstyled">
                        <% _.each(equipment.RT.equipment.criticals, function(crit) { %>
                        <li><%= crit %></li>
                        <% }); %>
                    </ul>
                </li>
                <li>
                    <strong class="text-info">EQ</strong>
                    <ul class="unstyled">
                        <% _.each(equipment.RT.equipment.nonCriticals, function(eq) { %>
                        <li><%= eq %></li>
                        <% }); %>
                    </ul>
                </li>
            </ul>
        </td>
        <td>
            <ul class="unstyled">
                <li><strong class="text-info">External: </strong><%= equipment.RA.armor.external %></li>
                <li><strong class="text-error">Internal: </strong><%= equipment.RA.armor.internal %></li>
                <li>
                    <strong class="text-error">Crits</strong>
                    <ul class="unstyled">
                        <% _.each(equipment.RA.equipment.criticals, function(crit) { %>
                        <li><%= crit %></li>
                        <% }); %>
                    </ul>
                </li>
                <li>
                    <strong class="text-info">EQ</strong>
                    <ul class="unstyled">
                        <% _.each(equipment.RA.equipment.nonCriticals, function(eq) { %>
                        <li><%= eq %></li>
                        <% }); %>
                    </ul>
                </li>
            </ul>
        </td>
    </tr>
    </tbody>
</table>

<div class="alert-info">Does not support QUAD atm.</div>
<table class="table">
    <thead>
    <tr>
        <th>Left Leg</th>
        <th>Right Leg</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>
            <ul class="unstyled">
                <li><strong class="text-info">External: </strong><%= equipment.LL.armor.external %></li>
                <li><strong class="text-error">Internal: </strong><%= equipment.LL.armor.internal %></li>
                <li>
                    <strong class="text-error">Crits</strong>
                    <ul class="unstyled">
                        <% _.each(equipment.LL.equipment.criticals, function(crit) { %>
                        <li><%= crit %></li>
                        <% }); %>
                    </ul>
                </li>
                <li>
                    <strong class="text-info">EQ</strong>
                    <ul class="unstyled">
                        <% _.each(equipment.LL.equipment.nonCriticals, function(eq) { %>
                        <li><%= eq %></li>
                        <% }); %>
                    </ul>
                </li>
            </ul>
        </td>

        <td>
            <ul class="unstyled">
                <li><strong class="text-info">External: </strong><%= equipment.RL.armor.external %></li>
                <li><strong class="text-error">Internal: </strong><%= equipment.RL.armor.internal %></li>
                <li>
                    <strong class="text-error">Crits</strong>
                    <ul class="unstyled">
                        <% _.each(equipment.RL.equipment.criticals, function(crit) { %>
                        <li><%= crit %></li>
                        <% }); %>
                    </ul>
                </li>
                <li>
                    <strong class="text-info">EQ</strong>
                    <ul class="unstyled">
                        <% _.each(equipment.RL.equipment.nonCriticals, function(eq) { %>
                        <li><%= eq %></li>
                        <% }); %>
                    </ul>
                </li>
            </ul>
        </td>
    </tr>
    </tbody>
</table>
