<h2><%= chasis %> <%= model %></h2>

<div class="row-fluid">

    <div class="entityDamages span4">

        <dl class="dl-horizontal">
            <dt>Year</dt>
            <dd><%= year %></dd>
            <dt>Weight Class</dt>
            <dd><%= weightClass %></dd>
            <dt>Weight</dt>
            <dd><%= weight %></dd>

            <dt>BV</dt>
            <dd><%= bv %></dd>

            <dt>Movement</dt>
            <dd><%= movement %></dd>


            <dt>Armor</dt>
            <dd><%= armor %></dd>

            <dt>Heat Capacity</dt>
            <dd><%= heat %></dd>

        </dl>


    </div>
    <div class="span8">
        <table class="table table-hover table-condensed">

            <thead>
            <tr>
                <th>Weapon</th>

                <th>Heat</th>
                <th>Damage</th>
            </tr>
            </thead>
            <tbody class="weaponList"></tbody>
        </table>
    </div>
</div>

<div class="row-fluid">
    <div class="weaponRange"></div>
</div>


<table class="table table-condensed">
    <thead>
    <tr>
        <th>Head</th>
        <th>Left Torso Rear</th>
        <th>Center Torso Rear</th>
        <th>Right Torso Rear</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td class="slot-HD"></td>
        <td class="slot-LTR"></td>
        <td class="slot-CTR"></td>
        <td class="slot-RTR"></td>
    </tr>
    </tbody>
</table>

<table class="table table-condensed">
    <thead>
    <tr>
        <th>Left Arm</th>
        <th>Left Torso</th>
        <th>Center Torso</th>
        <th>Right Torso</th>
        <th>Right Arm</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td class="slot-LA"></td>
        <td class="slot-LT"></td>
        <td class="slot-CT"></td>
        <td class="slot-RT"></td>
        <td class="slot-RA"></td>
    </tr>
    </tbody>
</table>

<div class="notQuad">
    <table class="table table-condensed">
        <thead>
        <tr>
            <th>Left Leg</th>
            <th>Right Leg</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="slot-LL"></td>

            <td class="slot-RL"></td>
        </tr>
        </tbody>
    </table>
</div>
<div class="isQuad" >
    <table class="table table-condensed">
        <thead>
        <tr>
            <th>Front Left Leg</th>
            <th>Front Right Leg</th>
            <th>Rear Left Leg</th>
            <th>Rear Right Leg</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="slot-FLL"></td>
            <td class="slot-FRL"></td>

            <td class="slot-RLL"></td>
            <td class="slot-RRL"></td>
        </tr>
        </tbody>
    </table>
</div>
