<h1>Welcome</h1>

<p>This site is a fan based piece of work expressly for the gaming community of <a target="_blank"
                                                                                   href="http://www.mekwarslegends.com/">http://www.mekwarslegends.com/</a>
</p>

<p>To get started, just start typing a variant model in the pane to the left.</p>
<p>The variants were last updated for the 7th Campaign on 24 April 2013.</p>
<h3>Changelog</h3>
<dl>
    <dt>03/05/2013</dt>
    <dd>
        <ul>
            <li>Switched charting frameworks. Lots of fun stuff coming here.</li>
        </ul>
    </dd>
    <dt>02-05-2013</dt>
    <dd>
        <ul>
            <li>Locations added for weapons table</li>
            <li>Fixed graph widths</li>
            <li>Stopped the footer covering stuff</li>
            <li>Removed overall armor value as it was just wrong</li>
            <li>Reworking search pane for future functionality</li>

        </ul>
    </dd>
    <dt>25-04-2013</dt>
    <dd>
        <ul>
            <li>Support for variant imagery</li>
            <li>Corrected issue for IE and FF (it works now)</li>
            <li>Updated variants</li>
            <li>Implemented Rear Armor</li>
        </ul>
    </dd>
    <dt>22-04-2013</dt>
    <dd>
        <ul>
            <li>Added this changelog</li>
            <li>Fixed rendering of Quads</li>
        </ul>
    </dd>
</dl>
