<div class="header">

</div>

<div class="row-fluid">
    <div class="overview span6"></div>
    <div class="armor span6"></div>
</div>
<div class="row-fluid">
    <div class="weaponry span5"></div>

    <div class="span6">
        <div class="row-fluid">
            <div class="equipment "></div>
        </div>
        <div class="row-fluid">
            <div class="ammo "></div>
        </div>
    </div>
</div>

<div class="row-fluid">
    <div class="ranges span12"></div>
</div>

<div class="row-fluid">
    <div class="unitLayout"></div>
</div>
